services:
  db:
    image: postgres:16
    container_name: ecom
    restart: unless-stopped
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: app_db
    ports:
      - '5433:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U app -d app_db']
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
